body {
    background-color:rgb(238, 233, 171);
}

.titulo_principal {

    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
}

.tabla_one {
    border: solid;


}

.educacion {
    outline-style: solid;
    padding: 5px;
}

.datos_y_redes {
    display: flex;
    justify-content: center;
    padding: 5px;
    outline-style: solid;
    gap: 15px;
}

.ap-ac-ho {
    outline-style: solid;
    padding: 5px;
}

.trayectoria {
    outline-style: solid;
    padding: 5px;
}
.footer {
    outline-style: solid;
}