body {
    background-color: rgb(238, 233, 171);
}

.titulo_principal {

    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 5px;
    color: white;
}


.educacion {
    outline-style: solid;
    padding: 5px;
}

.educacion-titulo {
    color: gray;
}

.datos_y_redes {
    display: flex;
    justify-content: center;
    padding: 5px;
    outline-style: solid;
    gap: 15px;
}

.datos_redes_titulo {
    color: gray;
}

.ap-ac-ho {
    outline-style: solid;
    padding: 5px;
}

.aptitudes_titulo {
    color: grey;
}

.actitudes_titulo {
    color: grey;
}

.hobbies_titulo {
    color: grey;
}

.trayectoria {
    outline-style: solid;
    padding: 5px;
}

.trayectoria_titulo {
    color: gray;
}

.footer {
    outline-style: solid;
}

.footer_titulo {
    color: gray;
}